@{
    ViewData["Title"] = "Home Page";
    Layout = "../Shared/_Layout";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
    <h1 class="display-4"><b>Welcome!!</b></h1>
    @if (!SignInManager.IsSignedIn(User))
    {
        <h2>Please <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></h2>
        <h2>Registering is disabled</h2>
    }
</div>

