@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="siderbar-container">
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Dashboard</li>

                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Home
                    </a>
                </li>

                <li class="app-sidebar__heading">Categories</li>

                <li>
                    <a asp-controller="Category" asp-action="Index">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Categories
                    </a>
                </li>
                <li>
                    <a asp-controller="Category" asp-action="Create">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Create Category
                    </a>
                </li>

                <li class="app-sidebar__heading">Channels</li>

                <li>
                    <a asp-controller="Channel" asp-action="Index">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Channels
                    </a>
                </li>
                <li>
                    <a asp-controller="Channel" asp-action="Create">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Create Channel
                    </a>
                </li>

                <li class="app-sidebar__heading">Comments</li>

                <li>
                    <a asp-controller="Comment" asp-action="Index">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Comments
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>